<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="infosolution.dev.com.queuemanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".HairDresserActivity" />
        <activity android:name=".ProfileDetailforVisitor" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileDetailStaff" />
        <activity android:name=".TokenActivity" />
        <activity android:name=".StoreLogin" />
        <activity android:name=".BTDeviceList" />
        <activity android:name=".QueueActivity" />
        <activity android:name=".TokenDetailsActivity" />
        <activity android:name=".TransferToActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".ServiceListActivity" />
        <activity android:name=".PrintActivity"></activity>
    </application>

</manifest>